<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="iTunesMatchTagger.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="iTunesMatchTagger.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <iTunesMatchTagger.Settings>
            <setting name="StoreCountries" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>US</string>
                        <string>GB</string>
                        <string>AU</string>
                        <string>FR</string>
                        <string>DE</string>
                        <string>CA</string>
                        <string>IT</string>
                        <string>JP</string>
                        <string>DZ</string>
                        <string>AO</string>
                        <string>AI</string>
                        <string>AG</string>
                        <string>AR</string>
                        <string>AM</string>
                        <string>AT</string>
                        <string>AZ</string>
                        <string>BS</string>
                        <string>BH</string>
                        <string>BD</string>
                        <string>BB</string>
                        <string>BY</string>
                        <string>BE</string>
                        <string>BZ</string>
                        <string>BM</string>
                        <string>BO</string>
                        <string>BW</string>
                        <string>BR</string>
                        <string>BN</string>
                        <string>BG</string>
                        <string>CM</string>
                        <string>KY</string>
                        <string>CL</string>
                        <string>CN</string>
                        <string>CO</string>
                        <string>CR</string>
                        <string>CI</string>
                        <string>HR</string>
                        <string>CY</string>
                        <string>CZ</string>
                        <string>DK</string>
                        <string>DM</string>
                        <string>DO</string>
                        <string>EC</string>
                        <string>EG</string>
                        <string>SV</string>
                        <string>EE</string>
                        <string>ET</string>
                        <string>FI</string>
                        <string>GH</string>
                        <string>GR</string>
                        <string>GD</string>
                        <string>GT</string>
                        <string>GY</string>
                        <string>HN</string>
                        <string>HK</string>
                        <string>HU</string>
                        <string>IS</string>
                        <string>IN</string>
                        <string>ID</string>
                        <string>IE</string>
                        <string>IL</string>
                        <string>JM</string>
                        <string>JO</string>
                        <string>KZ</string>
                        <string>KE</string>
                        <string>KR</string>
                        <string>KW</string>
                        <string>LV</string>
                        <string>LB</string>
                        <string>LY</string>
                        <string>LI</string>
                        <string>LT</string>
                        <string>LU</string>
                        <string>MO</string>
                        <string>MK</string>
                        <string>MG</string>
                        <string>MY</string>
                        <string>MV</string>
                        <string>ML</string>
                        <string>MT</string>
                        <string>MU</string>
                        <string>MX</string>
                        <string>MD</string>
                        <string>MS</string>
                        <string>MM</string>
                        <string>NP</string>
                        <string>NL</string>
                        <string>NZ</string>
                        <string>NI</string>
                        <string>NE</string>
                        <string>NG</string>
                        <string>NO</string>
                        <string>OM</string>
                        <string>PK</string>
                        <string>PA</string>
                        <string>PY</string>
                        <string>PE</string>
                        <string>PH</string>
                        <string>PL</string>
                        <string>PT</string>
                        <string>QA</string>
                        <string>RO</string>
                        <string>RU</string>
                        <string>KN</string>
                        <string>LC</string>
                        <string>VC</string>
                        <string>SA</string>
                        <string>SN</string>
                        <string>RS</string>
                        <string>SG</string>
                        <string>SK</string>
                        <string>SI</string>
                        <string>ZA</string>
                        <string>ES</string>
                        <string>LK</string>
                        <string>SR</string>
                        <string>SE</string>
                        <string>CH</string>
                        <string>TW</string>
                        <string>TZ</string>
                        <string>TH</string>
                        <string>TT</string>
                        <string>TN</string>
                        <string>TR</string>
                        <string>TC</string>
                        <string>UG</string>
                        <string>UA</string>
                        <string>AE</string>
                        <string>UY</string>
                        <string>UZ</string>
                        <string>VE</string>
                        <string>VN</string>
                        <string>VG</string>
                        <string>YE</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MatchedKindAsString" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Usklađena AAC audio datoteka</string>
                        <string>Egyező AAC-hangfájl</string>
                        <string>File audio AAC corrispondente</string>
                        <string>マッチした AAC オーディオファイル</string>
                        <string>AAC-Audiodatei (passend)</string>
                        <string>Αντιστοιχισμένο αρχείο ήχου AAC</string>
                        <string>Matched AAC audio file</string>
                        <string>Archivo de audio AAC coincidente</string>
                        <string>Täsmäävä AAC-äänitiedosto</string>
                        <string>Fichier audio AAC mis en correspondance</string>
                        <string>Fitxer d’àudio AAC aparellat</string>
                        <string>Nahrazený soubor AAC audio</string>
                        <string>Matchet AAC-lydfil</string>
                        <string>Matched AAC audio file</string>
                        <string>Eşleştirilen AAC ses dosyası</string>
                        <string>Зіставлений аудіофайл AAC</string>
                        <string>匹配的 AAC 音频文件</string>
                        <string>比對成功的 AAC 音訊檔</string>
                        <string>Найдено совпадение аудиофайла AAC</string>
                        <string>Zhodný AAC audiosúbor</string>
                        <string>Matchad AAC-ljudfil</string>
                        <string>ไฟล์เสียง AAC ที่ตรงกัน</string>
                        <string>Gematcht AAC-audiobestand</string>
                        <string>dopasowany plik audio AAC</string>
                        <string>Arq. áudio AAC dispon.</string>
                        <string>Ficheiro de áudio AAC do iTunes Match</string>
                        <string>fișier audio AAC corelat</string>
                        <string>일치하는 AAC 오디오 파일</string>
                        <string>Matchet AAC-lydfil</string>
                    </ArrayOfString>
                </value>
            </setting>
        </iTunesMatchTagger.Settings>
    </userSettings>
    <applicationSettings>
        <iTunesMatchTagger.Settings>
            <setting name="ProjectUrl" serializeAs="String">
                <value>http://code.google.com/p/itunes-match-tagger</value>
            </setting>
            <setting name="AuthorEmail" serializeAs="String">
                <value>schirkan@googlemail.com</value>
            </setting>
        </iTunesMatchTagger.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
